
/.vs
/src/bin/
/src/obj/
/src/.vs/
Serilog.Sinks.AzureCosmosDB.TestRunner/bin
Serilog.Sinks.AzureCosmosDB.TestRunner/obj
Serilog.Sinks.AzureCosmosDB.TestRunner/appsettings.json
Serilog.Sinks.AzCosmosDB.TestRunner/bin
Serilog.Sinks.AzCosmosDB.TestRunner/obj
Serilog.Sinks.AzCosmosDB.TestRunner/appsettings.json
